.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.comment-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100%;
}

.avatar {
  color: #ffffff;
  border-radius: 40%;
  height: 40px;
  width: 40px;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
}

.name-container {
  display: flex;
  align-items: center;
}

.like-delete-container {
  display: flex;
  width: 90%;
  margin-top: 20px;
}

.comment-content {
  margin-left: 30px;
  font-size: 22px;
}

.delete {
  margin-left: auto;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  color: #dee0e3;
}

.like-image {
  margin-right: 25px;
  margin-left: 30px;
}

.time {
  margin-left: 50px;
  color: #475569;
  font-size: 15px;
}

.like {
  background-color: transparent;
  border: 0px;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .comment-item {
    max-width: 300px;
  }
  .name-container {
    max-width: 300px;
  }

  .comment-content {
    max-width: 300px;
  }
}
